.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.seach{
  margin: 10 auto;
}
.form-select{
  margin-top: 50px;
}
.header-title{
 margin: 0 auto;
  font-size: 2rem;
  line-height: 1; 
  width: 600px;
  display: block;
}
p{
  margin: 0 auto;
  font-size: 1.5rem;
  line-height: 1; 
  width: 600px;
  display: block;
}